/* Image - Section */

.Image{
    display: flex;
    width: 100%;
    overflow: hidden;
}

/* Main - Section */

.main-section{
    margin: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    
}
.form{
    background-color: #f2f2f2;
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 30%;
    height : auto;  
}

.upper-container{
    text-align: center;
    background-color: #72f01e86;
    border: 1px solid #72f01e86;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lower-container{
    padding: 5px 20px 10px 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea , select{
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 6px;
    margin-top: 5px;
    padding: 8px;
}
button[type="submit"]{
    background-color: #4caf84;
    color: white;
    padding: 10px 20px;
    border: 2px solid #4caf84;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
}
button[type="submit"]:hover{
    cursor: pointer;
    background-color: #4cbd8c;
    border: 2px solid #4cbd8c;
    border-radius: 5px;
}

.lower-container p{
    margin-top: 7px;
}

.lower-container p a{
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(15, 126, 218);
}

footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
}